
//                 F R A M E      A R O U N D      D I S H E S

.frame
	width: 100%
	height: 100%
	// border: 1px solid $light-grey
	position: absolute
	top: 0
	left: -60px
	z-index: 2
	@media #{$small-only}
		display: none