.big-wrapper
	position: relative
	overflow-x: hidden

.banner-container
	position: relative
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	height: 50vh
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.5)
	overflow: hidden
	@media #{$medium-only} and (orientation: landscape)
		height: 70vh
	&.main-banner
		height: 100vh
		@media only screen and (max-width: 640px) and (orientation: landscape)
			height: 800px
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: black
			opacity: 0.1
			z-index: 1
		&:after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			background: linear-gradient(to bottom, transparent, transparent, rgba(0,0,0, .6))
			z-index: 1
	.inner-container
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		height: 90%
		width: 90%
		text-align: center
		z-index: 3
		.top, .middle, .middle-button, .bottom
			+x-align
		.top
			width: 100%
			.logo
				width: 150px
				position: relative
				margin: 0 auto
				@media #{$small-only}
					width: 75px
		.middle
			top: 30%
			width: 100%
		.middle-button
			top: 60%
		.bottom
			top: 90%
			cursor: pointer
			min-width: 200px
			@media #{$small-only}
				top: 80%
			.arrow-down-inside
				+x-align
				top: 25px
				// position: absolute
				animation: bounce 2s infinite
				@keyframes bounce
					0%, 20%, 50%, 80%, 100%
						margin-top: 0
					40%
						margin-top: 7px
					60%
						margin-top: 5px

.about-us, .our-kitchen, .restoran-interior
	margin-left: 15px
	margin-right: 15px
	position: relative
	z-index: 2
	margin-top: -100px
	top: 50px
	@media #{$small-only}
		margin-top: -50px
		top: 25px
.about-us
	position: relative
	z-index: 3
	.text, .text-middle, .background-photo, .white-background
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
	.white-background
		background: #fff
	.text, .text-middle
		padding: 30px
		@media #{$small-only}
			padding: 10px
	.text-middle
		text-align: center
		.regular
			margin-top: 10px
	.text
		.regular
			margin-top: 20px
		@media #{$small-only}
			text-align: center



.our-kitchen
	.chef-container
		position: relative
		height: 520px
		width: 350px
		top: -50px
		@media #{$small-only}
			display: none
		.chef-photo
			position: absolute
			height: 100%
			width: 100%
			background-size: cover
			background-position: center
	.inner-container
		height: 500px
		position: relative
		background-color: #fff
		@media only screen and (max-width: 320px)
			height: 70vh
		.text
			text-align: center
			padding: 30px 50px
			height: 50%
			@media #{$small-only}
				padding: 20px
		.square-container
			position: absolute
			left: 50%
			top: 50%
			+translate(-50%,-50%)
			z-index: 1
			.square-middle	
				display: block
				width: 20px
				height: 20px
				background-color: #fff
				+rotate(45deg)
		.background-photo
			height: 50%
			width: 100%
			background-position: top



.our-dishes
	background-color: #fff
	padding: 70px 30px
	@media #{$small-only}
		padding: 50px 15px
	.inner-container
		position: relative
		padding: 60px 30px
		margin-bottom: 30px
		@media #{$small-only}
			padding: 0
		.subtitle-uppercased
			line-height: 24px
		.regular
			color: $light-grey
		.line-right
			// width: 103%
		.line-left
			left: -3%
			@media #{$small-only}
				left: 20%
		.line-right, .line-left
			content: ''
			height: 1px
			background-color: $light-grey
			margin-top: 20px
			position: relative
			@media #{$small-only}
				width: 80%
				margin-top: 10px
		.description
			color: $grey
			padding: 20px 0
			width: 70%
			@media #{$small-only}
				padding: 10px 0 0 0
				width: 75%
				font-size: 0.875em
		.georgia
			color: $wine
			font-size: 1.25em
			span
				font-size: 0.875em
		.background-photo
			height: 300px
			margin-top: -60px
			top: 30px
			@media #{$small-only}
				height: 200px
				top: initial
				margin-top: 10px
		.inner-text-left
			position: relative
			z-index: 2
		.inner-text-right
			position: relative
			width: 75%
			left: 25%
			.description
				width: 100%
.wine-cellar
	background-color: $wine
	position: relative
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.5)
	@media #{$small-only}
		height: 150px
	.svg-and-lines
		margin: 10px auto
	.wine-text
		width: 50%
		margin: 0 auto
		padding: 80px 0
		color: #fff
		text-align: center
		@media #{$medium-only}
			width: 90%
		@media #{$small-only}
			padding: 20px 0
	.desktop
		margin-top: 20px
.sliders-wrapper
	position: relative
	z-index: 3
	.square
		background-color: #fff
		&:after
			padding-bottom: 100%
.full-width
	max-width: none
	.slider-container
		position: absolute
		width: 100%
		height: 100%
	.slider-container2
		position: absolute
		width: 100%
		height: 100%
	.bxslider2
		height: 100%
		position: absolute
		width: 100%
		height: 100%
		.img-container
			height: 80%
			width: 60%
			+x-align
	.img-container
		height: 100%
	.wine-type
		text-align: center
		+x-align
		bottom: 30px
		width: 100%
		@media #{$large-up}
			bottom: 70px
		@media #{$small-only}
			bottom: 10px
		.subtitle-uppercased
			font-weight: bold
			@media #{$small-only}
				font-size: 1em
		.regular
			&:first-child
				text-transform: uppercase
			&:last-child
				color: $light-grey
				margin-top: 10px
				@media #{$small-only}
					margin-top: 0
			@media #{$small-only}
				font-size: 0.75em
	.wine-arrow-left, .wine-arrow-right
		+y-align
		cursor: pointer
		+transition(0.5s)
		padding: 20px
		z-index: 111
	.wine-arrow-left
		left: 10%
		&:hover
			left: 8%
	.wine-arrow-right
		right: 10%
		&:hover
			right: 8%
.squares
	+x-align
	bottom: 30px
	a
		display: inline-block
		margin: 0 8px
		width: 10px
		height: 10px
		border: 1px solid #fff
		&.active
			background-color: $wine

.restoran-interior
	z-index: 3
	.text
		padding: 30px
		background-color: #fff
		@media #{$small-only}
			padding: 20px
		@media #{$medium-only} and (orientation: landscape)
			padding: 20px
		.subtitle-uppercased
			line-height: 24px
		.person-numbers
			padding-top: 10px
			color: $light-grey
			font-size: 0.875em
			@media only screen and (max-width: 320px)
				padding-top: 0
		.regular
			padding-top: 10px
			@media only screen and (max-width: 320px)
				padding-top: 0
	.text, .background-photo
		height: 300px
		position: relative
		.white-square-right, .white-square-left
			display: block
			position: absolute
			width: 20px
			height: 20px
			background-color: #fff
			+rotate(45deg)
			z-index: 1
		.white-square-right
			top: 40px
			right: -10px
			@media #{$small-only}
				bottom: -10px
				left: 40px
				top: initial
				right: initial
		.white-square-left
			top: 40px
			left: -10px
			@media #{$small-only}
				bottom: -10px
				left: 40px
				top: initial

.form-wrapper
	margin-left: 15px
	margin-right: 15px
	position: relative
	margin-top: -100px
	top: 50px
	@media #{$small-only}
		margin-top: -50px
		top: 25px
.form-container
	background-color: #fff
	position: relative
	overflow: hidden
	.subtitle-uppercased
		line-height: 60px
		text-align: center
		background-color: $wine
		color: #fff
		position: relative
		z-index: 11
		@media #{$small-only}
			font-size: 1em
	form
		padding: 40px 70px
		@media #{$small-only}
			padding: 10px 15px 30px
		@media #{$medium-only} and (orientation: landscape)
			padding: 10px 15px 30px
	.georgia
		color: $light-grey
		text-align: center
	.radio-boxes
		text-align: center
		margin: 30px 0
		position: relative
		@media #{$small-only}
			margin: 20px 0
		.option
			margin: 0 20px
			@media #{$small-only}
				margin: 0 10px
		.text
			position: relative
			z-index: 3
		label
			color: $light-grey
			position: relative
			display: inline-block
			width: 40px
			line-height: 40px
			top: 0
			cursor: pointer
		.rect
			display: block
			position: absolute
			width: 40px
			height: 40px
			border: 1px solid $light-grey
			+rotate(45deg)
			top: 1px
			left: 0
			z-index: 2
			background: #fff
			cursor: pointer
	.line
		height: 1px
		width: 100%
		background-color: $light-grey
		position: absolute
		top: 50%

	.radio-boxes
		input
			display: none
			
		input:not(:checked) 
			& ~ .square-reserve
		
		input:checked 
			& ~ .option
			& ~ label 
				.rect
					background: $wine
.popup
	width: 100%
	position: absolute
	height: 100%
	background-color: $wine
	top: 0
	z-index: 10
	+translate(0,-100%)
	transition: all 1500ms cubic-bezier(0.165, 0.84, 0.44, 1)
	&.animate-popup
		+translate(0,0)
		.text-container
			opacity: 1
	.text-wrapper
		position: relative
		height: 100%
		width: 100%
		padding: 100px
	.text-container
		position: relative
		top: 50%
		+translate(0,-50%)
		opacity: 0
		+transition(1.2s)
	.form-accept-svg
		width: 80px
		margin: 0 auto
	.text
		color: #fff
		text-transform: uppercase
		font-size: 1.25em
		text-align: center

#googleMap
	height: 600px
	width: 100%
	position: absolute
	bottom: 140px
	z-index: 4
	// box-shadow: inset 0 0 20px rgba(0,0,0, 0.5)
	@media #{$large-up}
		bottom: 70px
	@media #{$small-only}
		bottom: 350px
.frame-for-map
	height: 0
	width: 100%
	position: absolute
	bottom: 140px
	.shadow-wrapper
		left: 0
		right: 0
		height: 20px
		position: absolute
		overflow: hidden
		top: -600px
		z-index: 6
	.shadow
		box-shadow: 0 0 20px rgba(0,0,0, 0.5)
		position: absolute
		top: -20px
		width: 100%
		height: 20px
	@media #{$large-up}
		bottom: 70px
	@media #{$small-only}
		bottom: 350px
.footer
	position: relative
	.columns
		height: 70px
	font-family: 'Open Sans', sans-serif
	font-size: 0.75em
	color: #fff
	background-color: $wine
	.container
		position: relative
		top: 50%
		left: 50%
		+translate(-50%,-50%)
		display: inline-block
	.logo
		display: inline-block
		margin: 0 10px 0 0
	p
		display: inline-block
		opacity: 0.7
.contact-us
	position: relative
	margin-top: 300px
	top: 10px
	// z-index: 3
	@media #{$small-only}
		top: 0
	.container
		background-color: #fff
	.inner-text
		padding: 30px 10px
		text-align: center
	.svg-icon
		margin-top: 10px
	.small
		text-transform: uppercase
		color: $light-grey
	.bigger
		color: $wine
		margin-top: 10px
		span
			text-decoration: underline
			font-size: 0.55em
			vertical-align: text-top
	.social
		background-color: #DFDFDF
		text-align: center
		padding: 20px
		border-top: 1px solid $wine
		.social-button
			width: 30px
			height: 30px
			display: inline-block
			background-color: $wine
			margin: 0 5px
			vertical-align: middle
			cursor: pointer
			padding: 5px