.big-wrapper
	position: relative
.banner-container
	position: relative
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	height: 50vh
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.5)
	&:first-child
		height: 100vh
		&:before
			content: ''
			position: absolute
			width: 100%
			height: 100%
			background-color: black
			opacity: 0.3
	.inner-container
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		height: 90%
		width: 90%
		text-align: center
		.top, .middle, .middle-button, .bottom
			+x-align
		.top
			width: 100%
			.logo
				width: 150px
				position: relative
				margin: 0 auto
				@media #{$small-only}
					width: 75px
		.middle
			top: 30%
			width: 100%
		.middle-button
			top: 60%
		.bottom
			top: 80%
			cursor: pointer
			min-width: 200px
			.arrow-down-inside
				+x-align
				top: 25px
				// position: absolute
			&:hover
				.arrow-down-inside
					animation: bounce 2s
					@keyframes bounce
						0%, 20%, 50%, 80%, 100%
							// transform: translate(-50%,0)
							margin-top: 0
						40%
							// transform: translate(-50%,5px)
							margin-top: 7px
						60%
							// transform: translate(-50%,5px)
							margin-top: 5px

.about-us, .our-kitchen, .restoran-interior, .form-wrapper
	margin-left: 15px
	margin-right: 15px
	position: relative
	z-index: 2
	margin-top: -100px
	top: 50px
	@media #{$small-only}
		margin-top: -50px
		top: 25px
.about-us	
	.text, .text-middle, .background-photo
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
	.text, .text-middle
		background: #fff
		padding: 30px
		@media #{$small-only}
			padding: 10px
	.text-middle
		text-align: center
		.regular
			margin-top: 10px
	.text
		.regular
			margin-top: 20px



.our-kitchen
	.shadow-container
	.chef-container
		position: relative
		height: 45vh
		width: 100%
		@media #{$small-only}
			display: none
		.chef-photo
			position: absolute
			height: 100%
			width: 100%
			background-size: contain
			background-position: center
			background-repeat: no-repeat
	.inner-container
		height: 50vh
		position: relative
		background-color: #fff
		.text
			text-align: center
			padding: 30px 50px
			height: 50%
			@media #{$small-only}
				padding: 20px
		.square-container
			position: absolute
			left: 50%
			top: 50%
			+translate(-50%,-50%)
			z-index: 1
			.square-middle	
				display: block
				width: 20px
				height: 20px
				background-color: #fff
				+rotate(45deg)
		.background-photo
			height: 50%
			width: 100%



.our-dishes
	background-color: #fff
	padding: 70px 30px
	.inner-container
		position: relative
		padding: 60px 30px
		margin-bottom: 30px
		@media #{$small-only}
			padding: 0
		.subtitle-uppercased
			line-height: 24px
		.regular
			color: $light-grey
		.line-right
			width: 103%
		.line-left
			// width: 103%
			left: -3%
			@media #{$small-only}
				left: 20%
		.line-right, .line-left
			content: ''
			height: 1px
			background-color: $light-grey
			margin-top: 20px
			position: relative
			@media #{$small-only}
				width: 80%
				margin-top: 10px
		.description
			color: $grey
			padding: 20px 0
			width: 70%
			@media #{$small-only}
				padding: 10px 0 0 0
				width: 75%
				font-size: 0.875em
		.georgia
			color: $wine
			font-size: 1.25em
			span
				font-size: 0.875em
		.background-photo
			height: 300px
			margin-top: -60px
			top: 30px
			@media #{$small-only}
				height: 200px
				top: initial
				margin-top: 10px
		.inner-text-left
		.inner-text-right
			position: relative
			width: 70%
			left: 30%
			.description
				width: 100%
.wine-cellar
	background-color: $wine
	position: relative
	height: 300px
	box-shadow: inset 0 0 20px rgba(0,0,0, 0.5)
	@media #{$small-only}
		height: 150px
	.section-text
		width: 70%
		@media #{$medium-only}
			width: 90%
	.desktop
		margin-top: 10px
.sliders-wrapper
	.square
		background-color: #fff
		&:after
			padding-bottom: 100%
.full-width
	max-width: none
	.slider-container
		position: absolute
		width: 100%
		height: 100%
	.slider-container2
		position: absolute
		width: 75%
		height: 75%
		left: 50%
		+translate(-50%,0)
	.bx-wrapper
		height: 100%
	.bx-viewport
		height: 100% !important
	.bxslider, .bxslider2
		height: 100%
		overflow: hidden
	li
		height: 100%
	.img-container
		background-position: center
		background-size: cover
		height: 100%
	.wine-type-1, .wine-type-2, .wine-type-3
		height: 25%
		width: 100%
		position: absolute
		bottom: 0
		text-align: center
		opacity: 0
		+transition(0.3s)
		+x-align
		&.visible
			opacity: 1
		.subtitle-uppercased
			font-weight: bold
		.regular
			&:first-child
				text-transform: uppercase
			&:last-child
				color: $light-grey
				margin-top: 10px
				@media #{$small-only}
					margin-top: 0
	.wine-arrow-left
		+y-align
		left: 10%
	.wine-arrow-right
		+y-align
		right: 10%
.squares
	+x-align
	bottom: 30px
	a
		display: inline-block
		margin: 0 8px
		width: 10px
		height: 10px
		border: 1px solid #fff
		&.active
			background-color: $wine

.restoran-interior
	.text
		padding: 30px
		background-color: #fff
		@media #{$small-only}
			padding: 20px
		.subtitle-uppercased
			line-height: 24px
		.person-numbers
			padding-top: 10px
			color: $light-grey
			font-size: 0.875em
			@media only screen and (max-width: 320px)
				padding-top: 0
		.regular
			padding-top: 10px
			@media only screen and (max-width: 320px)
				padding-top: 0
	.text, .background-photo
		height: 300px
		position: relative
		// @media #{$small-only}
		// 	height: 250px
		.white-square-right, .white-square-left
			display: block
			position: absolute
			width: 20px
			height: 20px
			background-color: #fff
			+rotate(45deg)
			z-index: 1
		.white-square-right
			top: 40px
			right: -10px
			@media #{$small-only}
				bottom: -10px
				left: 40px
				top: initial
				right: initial
		.white-square-left
			top: 40px
			left: -10px
			@media #{$small-only}
				bottom: -10px
				left: 40px
				top: initial


.form-wrapper
.form-container
	background-color: #fff
	.subtitle-uppercased
		line-height: 60px
		text-align: center
		background-color: $wine
		color: #fff
	form
		padding: 40px 70px
	.georgia
		color: $light-grey
		text-align: center
	.radio-boxes
		text-align: center
		margin: 30px
		position: relative
		.option
			margin: 0 20px
		.text
			position: relative
			z-index: 3
		label
			color: $light-grey
			position: relative
			display: inline-block
			width: 40px
			line-height: 40px
			top: 0
		.rect
			display: block
			position: absolute
			width: 40px
			height: 40px
			border: 1px solid $light-grey
			+rotate(45deg)
			top: 1px
			left: 0
			z-index: 2
			background: #fff
	.line
		height: 1px
		width: 100%
		background-color: $light-grey
		position: absolute
		top: 50%

	.radio-boxes
		input
			display: none
		.option
		input:not(:checked) 
			& ~ .square-reserve


		input:checked 
			& ~ .option
			& ~ label 
				.rect
					background: $wine

#googleMap
	height: 60vh
	width: 100%
	position: absolute

.footer
	position: relative
	.columns
		height: 70px
	+opensans
	font-size: 0.75em
	color: #fff
	background-color: $wine
	.container
		position: relative
		top: 50%
		left: 50%
		+translate(-50%,-50%)
		display: inline-block
	.logo
		display: inline-block
		margin: 0 10px 0 0
	p
		display: inline-block
.contact-us
	position: relative
	margin-top: 300px
	top: 10px
	z-index: 2
	.container
		background-color: #fff
	.inner-text
		padding: 30px 0
		text-align: center
	.subtitle-uppercased
	.svg-icon
		margin-top: 10px
	.small
		text-transform: uppercase
		color: $light-grey
	.bigger
		color: $wine
		margin-top: 10px
		span
			text-decoration: underline
			font-size: 0.55em
			vertical-align: text-top
	.social
		background-color: #DFDFDF
		text-align: center
		padding: 20px
		border-top: 1px solid $wine
		.social-button
			width: 30px
			height: 30px
			display: inline-block
			background-color: $wine
			margin: 0 5px
			vertical-align: middle
			cursor: pointer
			.icon
				position: relative
				top: 50%
				+translate(0,-50%)
				line-height: normal